 <!DOCTYPE html>
<html lang="ja">

<head>
 <meta charset="utf-8">
 <title>マイルで参る</title>
 <meta name="description" content="日々の買い物、隙間時間を利用してタダで飛行機に乗って海外旅行をしよう!!">
 <link rel="stylesheet" href="./normalize.css">
 <link rel="stylesheet" href="./style.css">
 
 <script src="common/js/jquery-1.10.1.min.js"></script>
 <script src="common/js/jqueryt.bxslider/jquery.bxslider.js"></script>
 <link rel="stylesheet" href="common/js/jquery.bxslider/jquery.bxslider.css">
 
 <script>
 $(document).ready(function() {
     $(`.bxslider`).bxslider( {
         auto: true,
         speed: 1000,
         pause:4000..     
  }  );
  });
  </script>
     
 
  </head>
 <body>
 
 <%# <div id="page">
 
 <p class="topicPath"><a href="index.html">ホーム</a> &gt;つくったもの</p>
 
 
 <div id="pageBodyMain">
 
 <section>
 
 <h1 class="pageTitle">つくったもの</h1> %>
 <div class="top">
<%= image_tag "road-2371503_1920.jpg", class: 'top-image'%>
<div class="mainVisualText">
<h1>陸マイラー専門コミュニティー<br>お得なポイントサイト情報を共有してマイレージを貯めよう!!</h1>
</div>
</div>


   <div class='item-contents'>
    <h2 class='title'>おすすめ案件共有</h2>
    <%= link_to 'みんなで共有しよう', "#", class: "subtitle" %>
    <ul class='item-lists'>
 
      <% @tasks.each do |task|%>
      <li class='list'>
        <%= link_to task_path(task.id) ,method: :get do %>
        <div class='item-img-content'>
        <%= image_tag task.image,  class: 'item-img'  %>
           <%# <% if item.buyer.present? %>  
          <%# <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
           <% end %>   
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= task.name %>
          </h3>
          <div class='item-price'>
            <span><%= task.price %>円</span>
          </div>
        </div>
        <% end %>
      <%end%>
    </ul>
  </div>


<section class="portfolioIndex">
<article>
<a href="portfolio/03.html">
<img src="portfolio/image/index_03.jpg" width="300" height="163" alt="">
</a>
<h2><a href="portfolio/03.html">バッタになりたい魔法使い</a></h2>
<p>コモモ・ひろましゃ制作のWeb仕掛け絵本<br>合言葉はバッタになっちゃえ！</p>
</article>

<article>
<a href="portfolio/02.html">
<img src="portfolio/images/index_02.jpg" width="300" height="163" alt=""></a>
<h2><a href="portfolio/02.html">WordPressデザインワークブック</a></h2>
<p>コモモとひろましゃ2人の共著によるWordPressで本格的なウェブサイトを制作したい方向けの書籍</p>
</article>

<article>
<a href="portfolio/01.html">
<img src="portfolio/images/index_01.jpg" width="300" height="163" alt=""></a>
<h2><a href="portfolio/01.html">Cafe Debut</a></h2>
<p>baserCMSのカフェサイト用汎用テーマ<br>テーマコンテスト2012飲食店系テーマ賞受賞</p>
</article>

<article>
<a href="portfolio/02.html">
<img src="portfolio/images/index_02.jpg" width="300" height="163" alt=""></a>
<h2><a href="portfolio/02.html">WordPressデザインワークブック</a></h2>
<p>コモモとひろましゃ2人の共著によるWordPressで本格的なウェブサイトを制作したい方向けの書籍</p>
</article>

</section> 

<%# <section class="news">
<h1>おしらせ</h1>
<table>
<tr>
<th><time datetime="2013-10-01">2013年10月1日</time></th>
<td>コモモとモリコで、書籍「HTML/CSSの教科書（仮題）」を執筆中です。お楽しみに。</td>
</tr>
<tr>
<th><time datetime="2013-10-01">2013年10月1日</time></th>
<td>
コモモ・モリコ・ひろましゃ３人のサイト「komorikomasha」をオープンしました。<br>
３人で制作したウェブページやサイトやサービス、その他諸々の活動を紹介・お知らせしていく予定です。どうぞよろしくお願いいたします。
</td>
</tr>
</table>
</section> %>


</div>

<p class="pagetop"><a href="#page">ページの先頭へ戻る</a></p>

</div>

 </body>
 </html>