　<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="utf-8">
 <title>mile_app</title>
 <meta name="description" content="komorikomashaは、コモモ・モリコ・ひろましゃ３人のメンバーが勢いでつくったものや活動を紹介しているサイトです。">
 <link rel="stylesheet" href="./normalize.css">
 <link rel="stylesheet" href="./style.css">
 
 <script src="common/js/jquery-1.10.1.min.js"></script>
 <script src="common/js/jqueryt.bxslider/jquery.bxslider.js"></script>
 <link rel="stylesheet" href="common/js/jquery.bxslider/jquery.bxslider.css">
 
 <script>
 $(document).ready(function() {
     $(`.bxslider`).bxslider( {
         auto: true,
         speed: 1000,
         pause:4000..     
  }  );
  });
  </script>
     
 
  </head>
 <body>
 <%= render "shared/header" %>

 
 <%# <p class="topicPath"><a href="index.html">ホーム</a> &gt;つくったもの</p>
 
 
 <div id="pageBodyMain">
 
 <section>
 
 <h1 class="pageTitle">つくったもの</h1>
 
 <article class="articleList">
 <a href="03.html">
 <div class="articleListText">
 <h1>バッタになりたい魔法使い</h1>
 <p>コモモ・ひろましゃ制作のWeb仕掛け絵本<br>
 合言葉は、バッタになっちゃえ！</p>
 </div>
 <div class="articleListImage">
 <img src="img_01_01.jpg" width="300" height="163" alt=" "> </div>
 </a>
 </article>
 
 
 <article class="articleList">
 <a href="02.html">
 <div class="articleListText">
 <h1>WordPress<br>デザインワークブック</h1>
 <p>コモモとひろましゃ二人の共著によるWordPressで本格的なウェブサイトを制作したい方向けの書籍</p>
 </div>
 <div class="articleListImage">
 <img src="image/img_02_04.jpg" width="300" height="163" alt=" "> </div> </a>
 </article>
 
 <article class="articleList">
 <a href="01.html">
 <div class="articleListText">
 <h1>Cafe Debut</h1>
 <p>baserCMSのカフェサイト用汎用テーマ<br>
 テーマコンテスト2012飲食店系テーマ賞受賞</p>
 </div> %>
 <%# <div class="articleListImage">
<img src="image/img_02_04.jpg" width="300" height="163" alt=" "> </div>
</div>
</a>
 </article>
 </section>
 
</div> %>


<div id="pageBody">
<section class="mainVisual">
<ul class="bxslider">
<li>

<div class="mainVisualText">
<h1>このサイトでできること</h1>
<p>コモモ・ひろましゃ制作のWeb仕掛け絵本<br>合言葉はバッタになっちゃえ！</p>
</div>
<%= image_tag "road-2371503_1920.jpg", class:"list-pict" %>

</li>
</ul>
</section>

<div id="pageBodySub">
<section class="newsList">
<h2>お知らせ</h2>
<ul>
<li><time datetime="2013-10-01">2013.10.01</time>
コモモとモリコで、書籍「HTML/CSSの教科書（仮題）」を執筆中です。お楽しみに。</li>
<li><time datetime="2013-10-01">2013.10.01</time>
コモモ・モリコ・ひろましゃ３人のサイト「komorikomash」をオープンしました。</li>
</ul>
</section>
</div>


  <div class='select-reason-contents'>
    <h2 class='title'>
      FURIMAが選ばれる3つの理由
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "furima-intro01.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>3分</span>
          ですぐに出品
        </h3>
        <p class='reason-list-description'>
          スマホで入力するだけで簡単に出品できる！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro02.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>シンプル</span>
          で使いやすい
        </h3>
        <p class='reason-list-description'>
          めんどくさい入力は必要なく、検索も購入もスムーズ！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro03.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          手数料
          <span class='reason-list-blue-text'>業界最安</span>
        </h3>
        <p class='reason-list-description'>
          最大3%でお得に出品&購入！
        </p>
      </li>
    </ul>
  </div>



<section class="portfolioIndex">
<article>
<a href="portfolio/03.html">
<img src="portfolio/image/index_03.jpg" width="300" height="163" alt="">
</a>
<h2><a href="portfolio/03.html">バッタになりたい魔法使い</a></h2>
<p>コモモ・ひろましゃ制作のWeb仕掛け絵本<br>合言葉はバッタになっちゃえ！</p>
</article>

<article>
<a href="portfolio/02.html">
<img src="portfolio/images/index_02.jpg" width="300" height="163" alt=""></a>
<h2><a href="portfolio/02.html">WordPressデザインワークブック</a></h2>
<p>コモモとひろましゃ2人の共著によるWordPressで本格的なウェブサイトを制作したい方向けの書籍</p>
</article>

<article>
<a href="portfolio/01.html">
<img src="portfolio/images/index_01.jpg" width="300" height="163" alt=""></a>
<h2><a href="portfolio/01.html">Cafe Debut</a></h2>
<p>baserCMSのカフェサイト用汎用テーマ<br>テーマコンテスト2012飲食店系テーマ賞受賞</p>
</article>
</section>

<section class="news">
<h1>おしらせ</h1>
<table>
<tr>
<th><time datetime="2013-10-01">2013年10月1日</time></th>
<td>コモモとモリコで、書籍「HTML/CSSの教科書（仮題）」を執筆中です。お楽しみに。</td>
</tr>
<tr>
<th><time datetime="2013-10-01">2013年10月1日</time></th>
<td>
コモモ・モリコ・ひろましゃ３人のサイト「komorikomasha」をオープンしました。<br>
３人で制作したウェブページやサイトやサービス、その他諸々の活動を紹介・お知らせしていく予定です。どうぞよろしくお願いいたします。
</td>
</tr>
</table>
</section>


</div>

<p class="pagetop"><a href="#page">ページの先頭へ戻る</a></p>

<footer id="pageFoot">
<p id="copyright"><small>Copyright &copy;2013@komorikomasha All Rights Reserved.</small></p>
</footer>
</div> 

 </body>
 </html>
