 <link rel="stylesheet" href="./miles.scss">

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<br>
<h1>達成済み案件</h1>
<br>
<br>
<table>
		<% @mile.each do |mile| %>
		<tr>
			<td text-align:center;><font size="4"><%= @task.name %></font></td>
			<td text-align:center;><font size="4"><%= (@task.price).to_i %>マイル</font></td>
			<td text-align:center;><font size="4"><%= @task.description %></font></td>
			<td text-align:center;><font size="4"><%= (mile.get_mile).to_i %>マイル</font></td>
		</tr>
		<% end %>

</table>
<br>
<span> </span><%= link_to 'ホームに戻る', root_path, :class => 'btn' %><span>